<div class="wrapper">
  <div class="other_user_box">
      <div class="other_user">
          <h4 class='user_name'>Capa Delore</h4><hr>
          <div class="chatbox">
              <p><span class='timestamp'>10:20am: </span> Hello</p>
          </div>
      </div>
      <div class="other_user">
          <h4 class='user_name'>Boriy Linto</h4><hr>
          <div class="chatbox">
              <p><span class='timestamp'>10:20am: </span> Bonjour</p>
          </div>
      </div>
      <div class="other_user">
          <h4 class='user_name'>Cree Bistro</h4><hr>
          <div class="chatbox">
              <p><span class='timestamp'>10:20am: </span> NiHao</p>
          </div>
      </div>
  </div>

  <!-- Question Here -->
  <div class="question_box">
      <h2 class='question_category'>Meeting objective:</h2>
      <h2 class='question'>"<span class="question">What's a good project for MEAN stack? or SEAN stack?</span>"</h2>
      <br>
      <h2 class='question_category'>Framing Questions:</h2>
      <h2 class='question'>"<span class="question">Why is whatever something whenever sometimes someday?</span>"</h2>
  </div>
  <!-- User's box Here -->
  <div class="user_box">
    <!-- user output display box here -->
    <div class="user_output_box">
        <h4 class='user_name'>User's Name</h4><hr>
        <div class="chatbox">
            <p><span class='timestamp'>10:20am: </span> Hola</p>
        </div>
    </div>

    <!-- user input here -->
    <form class="input_box">
        <textarea class="input_text"></textarea>
        <input type='submit' class="input_submit" value='Send'/>
    </form>
  </div>
</div>
